@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif';  
    background:#EFEFEF;
}
h1, h2, h3, h4, h5, p{
    background: transparent;
}
.header{
    display: flex;
    place-items: center;
    width: 100%;
    background-color:#EFEFEF;
    padding: 0 15px;
}
.logocont{
    background: transparent;
}
.logo{
    margin-left: 35px;
    width:150px;
    background: transparent;
}

.header_link{
    width: 75%;
    background: transparent;
}

.headerlink{
    display: flex;
    background: transparent;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 50px;  
}

.headerlink li{
    text-decoration: none;
    background: transparent;
    list-style: none;
    margin-right: 15px;
}
.headbtn{
    display: flex;
    background: transparent;
    width: 25%;
    align-items: center;
    justify-content: center;
}
.headbtn a{
    background: transparent;
    margin-right: 10px;
    width: 25%;
    text-decoration: none;
    color: black;

}
.btn_acc{
    padding: .50em .30em ;
    margin-right: 35px;
    font-size: 16px;
    border-radius: 25px;
    width:175px;
    border: none;
    outline: none;
    background-color: #c43a3c;
    color:#EFEFEF
}
.fa-user{
    margin-right: .35em;
    background-color: transparent;
    font-size: 18px;
}



.banner{
    display: flex;
    align-items: center;
    width: 100%;
}

.title{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(162, 162, 162, 0.134);
}

.title h1{
    font-size: 38px;
    color:#c43a3c;
    background-color: transparent;
}
.chat{
    width: 50%;
    background-color: #F8EFE6;
}
.head {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.head h1{
    background: transparent;
    font-size: 34px;
    font-weight: 900;
    padding: 50px 0 35px;
}
.head p{
    background: transparent;
}

.support{
    align-items: center;
    width:50%;
    background-color:#F3EED8
}

.bannerbtn{
    background: transparent;
}

.bannerbtn button{
    margin:18px 0 0;
    padding: .50em .30em;
    font-size: 16px;
    border-radius: 25px;
    width: 178px;
    border: none;
    outline: none;
    background-color: #c43a3c;
    color:#fff;
    font-size: 17px;
    text-transform: uppercase;
    justify-items: center;
}

.btnicon{
   background: transparent;
   padding: 0 .5em 0 0;
}

.title_info{
    padding-top: 50px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.infos{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.infos img{
    padding: 50px;
}
.infos p{
    font-weight: lighter;
}


.plans_container{
    display: flex;
    width: 100%;
}
.promos{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.promo_title{
    padding: 10px 0;
}
.plans{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 10px;
    padding: 45px;

}

.plan1, .plan2, .plan3, .plan4{
 padding: 20px;
 width: 200px;
 background-color: rgba(205, 205, 205, 0.214);
 border: .10em solid rgba(122, 122, 122, 0.426);
 border-radius: 20px;
}

.mbps{
    font-size: 30px;
}

.promo_details{
background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(22, 21, 25, 0.7)), url(assets/familyinternet.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
width: 50%;
padding: 20px;
}